<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>健康出行</title>
  <link rel="icon" href="/logo.ico" type="image/x-icon">
  <link href="/css/bbIconfont.css" rel="stylesheet">
  <script src="/js/apiUrl.js"></script>
  <script src="/js/clipboard.min.js"></script>
  <script src="/js/text-highlighter.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/echarts.min.js"></script>
  <!--
  <script src="/js/g2.js"></script>
  -->
  <script src="/js/analytic-visualize.js"></script>
  <!--
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
  -->
</head>
<body>
  <div id="root"></div>
</body>
</html>
